:root {
    --primary-color: #F5F4FA;
    --secondary-color: #2F303A;
    --accent-color: #2196F3;
    --common-white: #FFFFFF;
    --p-color: #757575;
    --text-size: 0.936em;
    --font-family-roboto: 'Roboto';
}
* {
    margin: 0;
    padding: 0;
}
.body {
    width: 1600px;
    height: 1880px;
    background-color: var(--common-white);
    margin: 0 auto;
}
.header,
.main,
.footer-title,
.info {
    padding: 0px 215px 0px 215px;
}
.header {
    border-bottom: 2px solid var(--primary-color);
}

.wraper {
    align-items: center;
}
.list {
    list-style: none;
}
.header,
.navigation,
.contacts,
.buttons {
    display: flex;
}
.header {
    width: 1170px;
    height: 80px;
}
.inside-space {
    width: 1170px;
    height: 30px;
}
.title-logo,
.logo-dot {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}
.title-logo {
    margin: 27px 90px 24px 0px;
    Width: 145px;
    Height: 31px;
}
.logo-dot {
    color: var(--accent-color);
}
.logo-dot2 {
    color: var(--secondary-color);
}
.logo-dot3 {
    color: var(--common-white);
}
.navigation-list {
    margin: 32px 50px;
    margin-left: 0px;
}
.navigation-link {
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: var(--text-size);
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-color);
}
.contacts-box:focus,
.navigation-link:focus,
.mail:focus,
.call:focus {
    color: var(--accent-color);
}
.navigation-link:hover,
.mail:hover,
.call:hover {
    color: var(--accent-color);
}
.navigation-link:hover,
.contact-email:hover,
.contact-phone:hover,
.mail:hover,
.call:hover {
    color: var(--accent-color);
}
.contacts {
    margin: 32px 0px 32px 270px;
    font-family: var(--font-family-roboto);
    font-size: var(--text-size);
    color: var(--secondary-color);
}
.contact-email {
    margin-right: 73px;
}
.contact-email,
.contact-phone,
.mail,
.call {
    text-decoration: none;
    color: var(--secondary-color);
}
.contact-phone {
    margin-right: 0px;
}
.contact-email,
.contact-phone {
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: var(--text-size);
    line-height: 16px;
    color: var(--p-color);
}
.location,
.mail,
.call,
.contact-email,
.contact-phone {
    font-style: normal;
}

.mail,
.call {
    font-family: var(--font-family-roboto);
    font-size: var(--text-size);
    color: var(--p-color);
    line-height: 24px;
    margin-bottom: 9px;
}
.location {
    font-family: var(--font-family-roboto);
    font-size: var(--text-size);
    color: var(--common-white);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer {
    Width: 1600px;
    Height: 252px;
    background-color: var(--secondary-color);
}
.footer-title {
    margin-bottom: 20px;
    padding-top: 60px;
}
.info {
    height: 132px;
}
.info-adress,
.info-email,
.info-phone,
.address {
    padding-bottom: 9px;
    text-decoration: none;
}
.main {
    padding: 95px 215px 95px 215px;
}
.main-buttons {
    width: 611px;
    height: 40px;
    padding-left: 285px;
    padding-bottom: 34px;
}
.button1,
.button2,
.button3,
.button4,
.button5 {
    margin-left: 9px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
}
.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button5:hover,
.button-text:hover {
    color: var(--common-white);
    background-color: var(--accent-color);
}
.button-text {
    color: var(--secondary-color);
    font-family: var(--font-family-roboto);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.000em;
    line-height: 26px;
}
.image-boxes {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}
.image-boxes:nth-child(3n+3) {
    margin-right: 0px;
}
.box {
    width: 1176px;
    height: 1360px;
    display: flex;
    flex-wrap: wrap;
    
}
.paragraph {
    font-family: var(--font-family-roboto);
    font-size: 0.875em;
    color: var(--p-color);
    height: 30px;
}
.content {
    margin: 0px 24px 20px 24px;
}
.title-photo {
    font-family: var(--font-family-roboto);
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 15px;
    
}